# Add any directories, files, or patterns you don't want to be tracked by version control
*.sln
.vs/
Binaries/
Build/
Intermediate/
Releases/
Saved/
WindowsNoEditor/
*.uproject
*.bat
Config/
Content/BuildingBlocks/
Content/PoolPlugin.uasset
Content/FirstPerson/Animations/FirstPerson_AnimBP.uasset
Content/FirstPerson/Animations/FirstPerson_Fire.uasset
Content/FirstPerson/
Content/FirstPersonBP/
Content/Geometry/
Content/Mannequin/
Content/MilitaryWeapDark/
Content/ObjectPooling/
Content/VirtualReality/
Content/VirtualRealityBP/
Content/ThirdPersonBP/
Source/BuildingBlocks/
Source/BuildingBlocks.Target.cs
Source/BuildingBlocksEditor.Target.cs
