# Add any directories, files, or patterns you don't want to be tracked by version control
*.sln
.vs/
Binaries/
Build/
Intermediate/
Releases/
Saved/
WindowsNoEditor/
*.uproject
*.bat
Config/
Content/BuildingBlocks/
Content/PoolPlugin.uasset
Content/FirstPerson/Animations/FirstPerson_AnimBP.uasset
Content/FirstPerson/Animations/FirstPerson_Fire.uasset
Content/FirstPerson/
Content/FirstPersonBP/
Content/Geometry/
Content/Mannequin/
Content/MilitaryWeapDark/
Content/ObjectPooling/
Content/VirtualReality/
Content/VirtualRealityBP/
Content/ThirdPersonBP/
Source/BuildingBlocks/
Source/BuildingBlocks.Target.cs
Source/BuildingBlocksEditor.Target.cs
Project/.gitignore
*.docx
*.ini
Project/VMP.png
Project/Content/Gestures
Project/Content/GesturesLeftMC
Project/Content/GesturesRightMC
Project/Content/Blueprints/
Project/Content/Bluetility/
Project/Content/Data/
Project/Content/Enums/
Project/Content/Maps/
Project/Content/Gesture/
Project/Content/Materials/
Project/Content/Meshes/
Project/Content/Ressources/
Project/Content/Splash/
Project/Content/Structs/
Project/Content/Textures/
Project/GameSparks/
Project/nvtt/
Project/Plugins/AdvancedSessions/
Project/Plugins/GameAnalytics/
Project/Plugins/GameSparks/
Project/Plugins/GameSparksPro/
Project/Plugins/GestureTrackerVR/
Project/Plugins/KantanDocGen/
Project/Plugins/LoadingScreen/
Project/Plugins/LowEntryExtStdLib/
Project/Plugins/LowEntryHttpRequest/
Project/Plugins/LowEntryJson/
Project/Plugins/OctagonVoiceChat/
Project/Plugins/RuntimeMeshComponent/
Project/Plugins/VictoryPlugin/
Project/Plugins/VictoryUMG/
Project/Source/VMP.Target.cs
Project/Source/VMPEditor.Target.cs
Project/Source/VMP/
Project/Splash&Icon/
